# byte-compiled
__pycache__/

# Mac OS
.DS_Store

# VScode
.vscode/

# IntelliJ
.idea/

# virtual envs
venv*

# pip install files
*.egg-info/

# temporary files
tmp*

# miscellaneous run files
*slurm*
*.job
